@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Copperplate, Fantasy;">Welcome To Mastersoft!</h1>
    <p style="font-family: Lucida Handwriting, Cursive;">Learn About: <a href="https://www.mastersofterp.com/" style="color: #007bff; text-decoration: none;">MasterSoft Erp solution</a>.</p>
    <a href="https://www.mastersofterp.com/">
        <img src="~/images/RealWorldCICDCourse.PNG" alt="CI_logo" width="450">
    </a>
</div>
