﻿@{
    ViewData["Title"] = "We offers below Solutions for Educational system";
}
<h2 style="color:red">@ViewData["Title"]</h2>
<div style="display:flex;justify-content:center">
<ul>
    <li>Campus Management System</li>
    <li>Lead Management System</li>
    <li>Library Management System</li>
    <li>Finance Management System</li>
    <li>Accreditation Data Management</li>
</ul>
<ul>
    
    <li>Student Information System</li>
    <li>Online Admission System</li>
    <li>Fees Management System</li>
        <li>Attendance Management System</li>
        <li>Online Examination System</li>
</ul>
 <ul>
   
    <li>Faculty Management System</li>
    <li>Outcome based Education</li>
    <li>Online Assessment Tool</li>
        <li>HR Management System</li>
        <li>Learning Management System</li>
 </ul>
 <ul>
   
    <li>Higher Education Software</li>
    <li>University Management Software</li>
    <li>Institute Management Software</li>
    <li>College Management Software</li>
    <li>School Management Software</li>
</ul>
</div>